<!--MODAL-->
<div class="modal fade in">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="onCancel()">
          <span>×</span>
        </button>
        <h4 class="modal-title">Фільтр</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="control-label" for="period">Оберіть період</label>
          <select class="form-control"
                  id="period"
                  [(ngModel)]="selectedPeriod">
            <option [value]="p.value"
                    *ngFor="let p of periodTypes">
              {{p.label}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label class="control-label">Оберіть тип події</label>
          <div>
            <label *ngFor="let t of eventTypes">
              <input
                      class="checkbox"
                      type="checkbox"
                      [value]="t.value"
                      checked
                      (change)="onEventTypeChange($event.target)"
              >
              <span>{{t.label}}</span>
            </label>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label">Оберіть категорії</label>
          <div>
            <label *ngFor="let c of categories">
              <input
                      class="checkbox"
                      type="checkbox"
                      [value]="c.id"
                      checked
                      (change)="onCategoryChange($event.target)"
              >
              <span>{{c.name}}</span>
            </label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="onCancel()">Скасувати</button>
          <button type="button" class="btn btn-primary" (click)="onApply()">Застосувати</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--MODAL-->
